<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br>
            <h2 style="color:#0fad00">Success</h2>
            <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/172-512.png">
            <h3>Nạp tiền thành công</h3>
            <p style="font-size:20px;color:#5C5C5C;">Bạn đã nạp tiền thuê gia sư thanh công. nhấn để quay về trang chủ
            </p>
            <a href="https://smart-tutor-client.herokuapp.com/" class="btn btn-success">     Quay về trang chủ     </a>
            <br><br>
        </div>

    </div>
</div>